body {
    font-family: Arial, sans-serif;
    background-color: #f0f7ff; /* Azul claro */
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #296393; /* Azul escuro */
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

section {
    padding: 40px 0;
}

section h2 {
    text-align: center;
    color: #296393; /* Azul escuro */
}

#images .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.image-item {
    text-align: center;
}

.image-item img {
    max-width: 100%;
    border-radius: 8px;
}

footer {
    background-color: #296393; /* Azul escuro */
    color: white;
    text-align: center;
    padding: 10px 0;
}
